/*
    GML Map Tool v1.0
    copyright: Alexander Perucci
    license: Mozilla Public License Version 2.0
*/

#map-canvas {
height:100%;
margin-bottom: 17px;
}

.controls {
margin-top:16px;
border:1px solid transparent;
border-radius:2px 0 0 2px;
box-sizing:border-box;
-moz-box-sizing:border-box;
height:32px;
outline:none;
box-shadow:0 2px 6px rgba(0,0,0,0.3);
}

textarea {
margin:5px 0px 10px 0px;
border: 0px solid;
border-radius:2px 0 0 2px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-moz-border-radius: 8px; -webkit-border-radius: 8px;
outline:none;
box-shadow:0 2px 6px rgba(0,0,0,0.3);
padding:10px;
width: 95%; resize: none;
color:#666;
font-size:11px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

textarea:focus {
border-color:#4d90fe;
color:#000;
outline:none;
border:#35a5e5 1px solid;
}


#inputsearch {
background-color:#fff;
width:400px;
font-family:Roboto;
font-size:15px;
font-weight:300;
text-overflow:ellipsis;
padding:0 11px 0 13px;
}

#inputsearch:focus {
margin-left:-1px;
padding-left:14px;
width:401px;
border-color:#4d90fe;
}

.pac-container {
font-family:Roboto;
}


